<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>

<title>Campus</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"  />
</head>
<body>
<form action="module/academic" method="get">
	<div id="body" class="container">
		<div id="header">
			<div class="title">Campus</div>
			 <div class="logister">
			 	<div class="round-button">
			 		<div class="round-button-circle">
			 		<a href="#" class="round-button">Login</a>
			 		</div>
			 	</div>	
			 	<div class="round-button">
			 		<div class="round-button-circle">
			 	<!-- 	<a href="" onclick="document.forms[0].submit();return false;">Modules</a> -->
			 		 <a href="module/academic" class="round-button">Modules</a>
			 		</div>
			 	</div>	
			 	<div class="round-button">
			 		<div class="round-button-circle">
			 		<a href="#" class="round-button">Profile</a>
			 		</div>
			 	</div>	
			</div> 
		</div>
	

	</div>
</form>	
</body>
</html>