@CHARSET "UTF-8";

#header {	
	position: fixed;
	top: 0;
	left: 0px;
	width: 100%;
	height: 50px;
	background: #3B170B;
	font-style: italic;
	line-height: 50px;
	vertical-align: middle;
}

.logo {
	width: 10px;
	height: 10px;
	margin: 0 0 0 -2000px;
	display: inline-block;
	float: left;
}

.title {
	display: inline-block;
	color: #fff;
	position: relative;
	float: inherit;
}

.logister {
	position: relative;
	/*text-align: right;*/
	display: inline-block;
	/*//color: #fff; */
	float: right;
	
}*/

.login:visited {
	color: #fff;
}

.login:LINK {
	color: #fff;
}

.login:HOVER {
	color: #99CC00;
}


.round-button {
	/*top: 0;*/
	width:70px;
	position: relative;
	display: inline-block;
	float: right;
	padding-right: 50px;
	
}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
	border-radius: 50%;
	border:10px solid #D6C7C7;
	overflow:hidden;
    
    background: #FFF; 
/*     box-shadow: 0 0 3px gray; */
}
.round-button-circle:hover {
	background:#998080;
	
}
.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:#000;
    font-family:Verdana;
    font-size:1.0em;
    font-weight:bold;
    text-decoration:none;
}
.round-button:hover a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:#fff;
    font-family:Verdana;
    font-size:1.0em;
    font-weight:bold;
    text-decoration:none;
}
body{
background: rgba(255,255,255,1);
background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}