<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

 <script type="text/javascript"  src="/js/jquery.1.10.2.min.js"></script> 
 <script  type="text/javascript" src="/js/jquery.autocomplete.min.js"></script>  
 
 <script src="/js/bootstrap.min.js"></script>
 <link rel="stylesheet" type="text/css" th:href="@{/css/insAdmissionType.css}" src="/css/insAdmissionType.css" />
 <script type="text/javascript" src="/js/insAdmissionType.js"></script>
 <title>Campus</title>




<!-- <script type="text/javascript">
	$(document).ready(function() {
		$('#tab-container').easytabs();
	});
</script> -->


</head>
<body>

	<!-- <div th:include="academic/header :: HeaderFragment "></div> -->
  
	<div id="wrapper" class="container">
		<div id="headerwrap" class="cont1">
			<div id="header" class="title">Academics</div>
		</div>

		<div id="contentwrap">
			<div id="content">
<!-- 				<form action="academicType" method="post">
 -->				<form name="form1" th:action="@{admissionType}" th:object="${INS_ADMSN_TYP}" method="post">
					<div id="commonLinksWrapper">
						<div id="commonLinks">							 
				      			<span><a href="#"><img src ="/images/common/insert.png" alt="Insert"/></a></span>
				      			<span><a href="#"><img src ="/images/common/edit.png" alt="Update"/></a></span>
				      			<span><a href="#"><img src ="/images/common/delete.png" alt="Delete"/></a></span>
				     			<span><a href="#"><img src ="/images/common/view.png" alt="View"/></a></span>	 
						</div>
					</div>

					<div id="changeContentWrapper">
						<div id="changeContent">
							&nbsp;
							<h3 align="center">
								<u>Admission Type</u>
							</h3>
							<div id="admissionTypeCodeDiv">							
								<span><label class="inputLabel">Admission Type
										Code</label></span> 
										<span>
										<!-- <input class="textBox" type="text" name="admissionTypeCode" id="admissionTypeCode"/>
										 -->
										 <input class="textBox" type="text" id="code" th:field="*{code}"/>
										</span>
							</div>

							<div id="admissionTypeCodeDiv">
								<span><label class="inputLabel">Admission Type
										Name</label></span> <span>
										<input class="textBox" type="text" th:field="*{name}"/>
										</span>
							</div>

							<div id="admissionTypeCodeDiv">
								<span><label class="inputLabel">Remarks</label></span>
								<span><textarea rows="4" cols="50" class="textBox" th:field="*{remarks}"></textarea></span>
							</div>
							&nbsp;&nbsp;&nbsp;
						</div>
					</div>

					<div id="buttonWrapper">
						<div id="button">
							&nbsp;&nbsp;&nbsp; 
							<span><input type="submit" value="Submit"/></span> 
							<span><input type="button" value="Reset"/></span>
						</div>

					</div>

				</form>

			</div>
		</div>

		<div id="rightcolumnwrap" class="cont2">
			<div id='rightcolumn'>
				<ul>

					<li class='active has-sub'><a href='#'><span>Master</span></a>
						<ul>
							<li><a href="${pageContext.request.contextPath}/academic/admissionType"><span>Admission
										Type</span></a></li>
							<li class='last'><a href='#'><span>Course</span></a></li>
						</ul></li>
					<li class='active has-sub'><a href='#'><span>Admission</span></a>
						<ul>
							<li><a href='academic/admission'><span>Admission</span></a></li>
							<li class='last'><a href='#'><span>Migration</span></a></li>
						</ul></li>
					<li><a href='#'><span>Home</span></a></li>
					<li class='last'><a href='#'><span>Logout</span></a></li>
				</ul>
			</div>
		</div>
	</div>

</body>




</html>

   